@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');





:root {


    --default-layout-header-height: 50px;
    --default-layout-width: 1150px;
    --green-color: #008c4f;
    --yellow-color: #e49f15;
    --grey-color: #f1f3f2;
    --boder-color: #d9d9d9;
    --white-color: #ffffff;
    --paddingX: 20px;
    --bg-color: #f6ffed;
}

html {
    font-size: 62.5%;
}

.App {
    // margin-top: calc(var(--default-layout-header-height)*2 + 15px);
    /* Add margin to the main content to prevent overlap with the fixed header */
    // padding-top: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.selected-text {
    font-size: 16px;
    /* Kích thước mặc định */
    background-color: yellow;
    /* Màu nền khi văn bản được bôi đen */
}

.container {
    display: block;
    width: 100%;
}

.border-radius {
    border-radius: 5px;
}

View {

    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: initial;
    font-size: medium;
    font-weight: normal;
    color: inherit;
    text-align: inherit;

}

Text {
    font-size: 15pt;

}

.padding {
    padding: 0 var(--paddingX);
}

.styles-default-A4-content {
    margin-top: 70px;
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid var(--boder-color);
    padding: 10px;
    border-radius: 4px;
    // height: 500px;
    // background-color: gray;
}

.wrapper-default-A4 {
    display: block;
    height: 500px;
    padding: 10px 19px;
}

input[type="file"] {
    display: none;
}

.horizon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.none-margin {
    margin: 0;
}

//antd custom select searchmodule
.custom-select .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: var(--white-color) !important;
    margin: 0 !important;
    padding: 0 !important;
}

.custom-select .ant-select-selector .ant-select-selection-placeholder {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: black;
    opacity: 0.8;
}

.custom-select .ant-select-selector .ant-select-selection-item {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: black;
    opacity: 0.8;

}

.wrap-select-options {
    margin: 0 0 -8px 0 !important;
}

//date range
.date-range-picker {
    width: 100%;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: var(--white-color) !important;
    margin: 0 !important;
    padding: 0 !important;

}

.date-range-picker .ant-picker-input input {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: black;
    opacity: 0.8;

    &::placeholder {
        font-size: 1.5rem !important;
        font-weight: 700;
        color: black;
        opacity: 1;
    }
}

.button-yellow {
    background-color: var(--yellow-color) !important;
    color: white;

    // display: none;
    &:hover {
        color: white !important;
        border-color: var(--yellow-color) !important;
        opacity: 0.8;
    }
}

// .ant-table-row-expand-icon {
//     &::after {
//         display: none !important;
//         // content: '>' !important;
//         ;
//     }

//     &::before {
//         display: none !important;
//         // content: '>' !important;
//         ;
//     }

// }