.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}



.wrapper-top {
    // margin-left: 15px;
    margin: 10px 20px 10px 15px;
    height: var(--default-layout-header-height);
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-logo {
        height: 3.8rem;
        margin-top: 5px;
    }
}

// .wrapper-logo::before {
//     content: "";
//     position: absolute;
//     height: 30px;
//     width: 50px;
//     top: 10px;
//     left: 60px;
//     // background-color: red;
//     border-right-style: solid;
//     border-right-color: var(--boder-color);
//     border-right-width: 1px;
//     pointer-events: none;
//     /* Ensures the pseudo-element doesn't interfere with interactions */
// }

.wrapper-function {
    height: var(--default-layout-header-height);
    border-bottom-style: solid;
    border-bottom-color: var(--boder-color);
    border-bottom-width: 1px;
    background-color: var(--white-color);

    border-top-style: solid;
    border-top-color: var(--boder-color);
    border-top-width: 1px;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-top-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-custom {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.icon {
    height: 2rem;
}

.input-name {
    width: 30rem;
}

.wrapper-detail-func {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;

    div {
        font-size: 1.5rem;
        width: 400;
        align-items: flex-end;
        margin-right: 20px;
    }

    Button {
        margin-left: 10px;
    }
}