.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    min-height: 100px;
    display: flex;

}

.content {
    flex: 1;

}

.wrapper-edit-content {
    // background-color: red;
    margin: 10px 20px 0px 20px;
    height: 500px;
}

.wrap-default-layout {
    margin-top: 20px;
}

.wrapper-eform {
    margin-top: 20px;
}